Ansible/.vagrant/machines/master/virtualbox/action_set_name
Ansible/ubuntu-xenial-16.04-cloudimg-console.log
Ansible/.vagrant/machines/host/virtualbox/action_provision
Ansible/.vagrant/machines/host/virtualbox/action_set_name
Ansible/.vagrant/machines/host/virtualbox/box_meta
Ansible/.vagrant/machines/host/virtualbox/creator_uid
Ansible/.vagrant/machines/host/virtualbox/id
Ansible/.vagrant/machines/host/virtualbox/index_uuid
Ansible/.vagrant/machines/host/virtualbox/synced_folders
Ansible/.vagrant/machines/host/virtualbox/vagrant_cwd
Ansible/.vagrant/machines/master/virtualbox/action_provision
Ansible/.vagrant/machines/master/virtualbox/box_meta
Ansible/.vagrant/machines/master/virtualbox/creator_uid
Ansible/.vagrant/machines/master/virtualbox/id
Ansible/.vagrant/machines/master/virtualbox/index_uuid
Ansible/.vagrant/machines/master/virtualbox/synced_folders
Ansible/.vagrant/machines/master/virtualbox/vagrant_cwd
Ansible/.vagrant/rgloader/loader.rb
.DS_Store

Terraform/Demo1/terraform.tfstate
Terraform/Demo1/.terraform/plugins/darwin_amd64/lock.json
Terraform/Demo1/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.17.0_x4
Terraform/Demo2/terraform.tfstate
Terraform/Demo2/.terraform/*

Terraform/Demo1/terraform.tfstate.backup
Terraform/Demo3/.terraform/plugins/darwin_amd64/lock.json
Terraform/Demo2/terraform.tfstate.backup
Terraform/Demo3/terraform.tfstate
Terraform/Demo3/terraform.tfstate.backup
Terraform/Demo3/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.17.0_x4
Terraform/Demo4/.terraform.tfstate.lock.info
Terraform/Demo4/terraform.tfstate.backup
Terraform/Demo4/terraform.tfstate
Terraform/Demo4/.terraform/modules/modules.json
Terraform/Demo4/.terraform/plugins/darwin_amd64/lock.json
Terraform/Demo4/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.17.0_x4
